.title-date{
	color: #aaa;
	font-family: Monaco, "Courier New";
	font-size: 80%;
}
.img-responsive {
	display: inline-block;
	height: auto;
	width: 100%;
}
.top{
	height:400;
	position: relative;
	background-position: center;
	background-size: cover;
	margin: 0 0 35px;
	text-align: center;
	transition: .8s;
}
