<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Oopsdawn" />

	<!-- Homepage CSS -->
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/my.css" type="text/css" />

</head>
<body>
	<div style="background-image: url('{{ site.baseurl }}/img/{{ page.picture }}.jpg');"></div>
	<!--<img class="img-responsive" src="/img/{{ page.picture }}.jpg" alt="by {{ page.picture }}">-->
	<div class="site">
		{{ content }}
	</div>
</body>
</html>
